html {
  scroll-behavior: smooth;
}

body {
  height: 1600vh;
  font-family: sans-serif;
  background-color: darkslategrey;
  color: aliceblue;
}

section {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  font-weight: 700;
  font-size: 96px;
  display: grid;
  place-items: center;
  opacity: 0;
}
